body {
    padding: 10px;
    background-color: #eaf6f6;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 12%;
}

h1 {
    color: #66BFBF;
}

h3 {
    color: #66BFBF;
}

.profile-pic {
    padding: 2px;
    border-color: rgb(224, 250, 236);
    border-radius: 50%;
    border-width: 10px;
    border-style: inset;
}